
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!--<context-param>-->
      <!--<param-name>tempfile.dir</param-name>-->
      <!--<param-value>tmpfiles</param-value>-->
    <!--</context-param>-->


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MinCharSetServlet</servlet-name>
        <servlet-class>servlets.MinCharSetServlet</servlet-class>
    </servlet>

    <!--<servlet>-->
        <!--<servlet-name>UploadTextServlet</servlet-name>-->
        <!--<servlet-class>servlets.UploadTextServlet</servlet-class>-->
    <!--</servlet>-->


    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MinCharSetServlet</servlet-name>
        <url-pattern>/MinCharSetServlet.do</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>UploadServlet</servlet-name>-->
        <!--<url-pattern>/UploadServlet.do</url-pattern>-->
    <!--</servlet-mapping>-->




</web-app>